<footer id="turbolinks-site-footer" data-turbolinks-permanent>
    <p>&copy; 2020 Middle Engine Software Ltd</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://blog.middle-engine.com/">Blog</a></li>
        <li><a href="/legal">Terms &amp; Privacy Policy</a></li>
    </ul>
</footer>
<section id="cookie-banner" data-turbolinks-permanent>
    <p>
        This site uses cookies to provide you with a great user experience. By using this site, you accept <a
            href="/legal">our cookie policy</a>.
    </p>
    <button id="accept-cookies-button">That&apos;s okay</button>
</section>