<footer id="site-footer" data-turbolinks-permanent>
    <div class="content-wrap">
        <p>&copy; 2020 Middle Engine Software Ltd<br />
            <a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by studiogstock -
                www.freepik.com</a></p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/legal">Terms &amp; conditions</a></li>
            <li><a href="/privacy">Privacy policy</a></li>
        </ul>
    </div>
</footer>
<section id="cookie-banner" data-turbolinks-permanent>
    <p>
        This site uses cookies to provide you with a great user experience. By using this site, you accept <a
            href="/privacy">our cookie policy</a>.
    </p>
    <button id="accept-cookies-button">That&apos;s okay</button>
</section>