<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Middle Engine Software | {{title}}</title>
    <meta name=”description” content="{{description}}">
    <link rel=" apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"
        integrity="sha256-iM4Yzi/zLj/IshPWMC1IluRxTtRjMqjPGd97TZ9yYpU=" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-solarizedlight.min.css"
        integrity="sha256-HOU1NO4lX42RnSzc4CxjFJxeEIcnOenRG01ycywzmR8=" crossorigin="anonymous" />
    <link href="{{staticFile "/css/site.HASH.css"}}" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;1,700&family=Archivo:ital@1&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    {{#if watchMode}}
    <script src="/reload/reload.js"></script>
    {{/if}}
</head>