<header id="site-header" data-turbolinks-permanent>
    <div class="content-wrap">
        <h2>Middle Engine Software</h2>
        <nav aria-label="Site">
            <ul>
                <li><a href="/" class="home-link">Home</a></li>
                <li><a href="/blog" class="blog-link">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>