<header id="turbolinks-site-header" data-turbolinks-permanent>
    <h2>Middle Engine Software</h2>
    <nav aria-label="Site">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://blog.middle-engine.com/">Blog</a></li>
        </ul>
    </nav>
</header>