<!DOCTYPE html>
<html lang="en">

{{> head }}

<body class="index">
    {{> header }}
    <main>
        <header class="hero">
            <figure>
                <div class="hero-img-wrap">
                    <picture>
                        <source
                            srcset="https://images.unsplash.com/photo-1551609189-eba71b3a8566?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjExODI3MH0&amp;fm=jpg&amp;fit=crop&amp;crop=entropy&amp;w=1600&amp;h=800&amp;q=80&amp;dpi=1 1x,
            https://images.unsplash.com/photo-1551609189-eba71b3a8566?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjExODI3MH0&amp;fm=jpg&amp;fit=crop&amp;crop=entropy&amp;w=1600&amp;h=800&amp;q=80&amp;dpi=2 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="https://images.unsplash.com/photo-1551609189-eba71b3a8566?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjExODI3MH0&amp;fm=jpg&amp;fit=crop&amp;crop=entropy&amp;w=2100&amp;h=700&amp;q=80&amp;dpi=1 1x,
            https://images.unsplash.com/photo-1551609189-eba71b3a8566?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjExODI3MH0&amp;fm=jpg&amp;fit=crop&amp;crop=entropy&amp;w=2100&amp;h=700&amp;q=80&amp;dpi=2 2x"
                            media="(min-width: 1400px)">
                        <img
                            src="https://images.unsplash.com/photo-1551609189-eba71b3a8566?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjExODI3MH0&amp;fm=jpg&amp;fit=crop&amp;crop=entropy&amp;w=800&amp;h=800&amp;q=80&amp;dpi=1 1x,
            https://images.unsplash.com/photo-1551609189-eba71b3a8566?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjExODI3MH0&amp;fm=jpg&amp;fit=crop&amp;crop=entropy&amp;w=800&amp;h=800&amp;q=80&amp;dpi=2 2x">
                    </picture>
                </div>
                <figcaption>
                    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
                        href="https://unsplash.com/@lozt?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                        target="_blank" rel="noopener noreferrer"
                        title="Download free do whatever you want high-resolution photos from Hoover Tung"><span
                            style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                viewBox="0 0 32 32">
                                <title>unsplash-logo</title>
                                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                            </svg></span><span style="display:inline-block;padding:2px 3px">Hoover Tung</span></a>
                </figcaption>
            </figure>
            <h1>
                Software development services
                by <strong>Middle Engine Software</strong>
            </h1>
        </header>
        <section id="services-section">
            <ul>
                <li id="d3-service">
                    <img src="/images/d3-icon-v1.svg" alt="" role="presentation">
                    <h3>For custom<br /><strong>D3</strong><br />data visualisations</h3>
                </li>
                <li id="react-service">
                    <img src="/images/react-icon-v1.svg" alt="" role="presentation">
                    <h3>For complex<br /><strong>React.js</strong><br />Web applications</h3>
                </li>
                <li id="performance-service">
                    <img src="/images/speedometer-v1.svg" alt="" role="presentation">
                    <h3>For improving the<br /><strong>performance</strong><br />of existing sites</h3>
                </li>
                </li>
                <li id="start-up-service">
                    <img src="/images/start-button-v1.svg" alt="" role="presentation">
                    <h3>For<br /><strong>start-up</strong><br />experience</h3>
                </li>
            </ul>
        </section>
        <section id="cta-section">
            <p>
                Please get in touch to discuss how we can help you deliver a great product!
            </p>
            <a href="mailto:hello@middle-engine.com">Get in touch</a>
        </section>
    </main>
    {{> footer }}
</body>

</html>


{{!-- https://images.unsplash.com/photo-1551609189-eba71b3a8566?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80 --}}