@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/prismjs/themes/prism-solarizedlight.css";

@custom-media --viewport-wide-phone (min-width: 576px);
@custom-media --viewport-tablet (min-width: 768px);
@custom-media --viewport-desktop (min-width: 992px);

:root {
  --color-primary: #766242;
  --color-primary-300: #d5c9b5;
  --color-primary-500: #a69984;

  --color-secondary: #549809;
  --color-secondary-500: #78bd2d;

  --color-white: #ffffff;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #eeeeee;
  --color-neutral-300: #e0e0e0;
  --color-neutral-400: #bdbdbd;
  --color-neutral-500: #9e9e9e;
  --color-neutral-600: #757575;
  --color-neutral-700: #616161;
  --color-neutral-800: #424242;
  --color-neutral-850: #2e2e2e;
  --color-neutral-900: #212121;
  --color-black: #000000;

  --font-family-body: "Open Sans", sans-serif;
  --font-weight-body-regular: 400;
  --font-weight-body-bold: 700;

  --font-family-heading: "Archivo Narrow", sans-serif;
  --font-weight-heading-regular: 400;
  --font-weight-heading-bold: 700;

  --width-hair: 1px;
  --width-main: 1150px;
  --width-article-body: 780px;

  --space-1: 4px;
  --space-2: 7px;
  --space-3: 11px;
  --space-4: 17px;
  --space-5: 27px;
  --space-6: 44px;
  --space-7: 72px;

  --radius-1: var(--space-1);
  --radius-2: var(--space-2);

  --base-font-size: 112.5%;

  --font-size-1: 0.8125rem;
  --font-size-2: 1rem;
  --font-size-3: 1.1rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.45rem;
  --font-size-6: 1.75rem;
  --font-size-7: 2.25rem;
  --font-size-8: 3rem;

  --shadow-small: 2px 4px 8px 2px #00000088;
}

/********************************/
/*          Box sizing          */
/********************************/

/* Use inheritance to reset box-sizing to border-box */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/********************************/
/*       Site background        */
/********************************/

html {
  background-color: var(--color-white);
}

/********************************/
/*          Body font           */
/********************************/

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-regular);
  font-size: var(--font-size-2);
  line-height: 1.5;
}

strong {
  font-weight: var(--font-weight-body-bold);
}

/********************************/
/*         Header font          */
/********************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-bold);
  font-style: italic;
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-7);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-size-6);
}

h3 {
  font-size: var(--font-size-5);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

/********************************/
/*         Header anchor        */
/********************************/

h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

.header-anchor {
  color: var(--color-neutral-400);
  border: none;
}

.header-anchor:hover {
  color: var(--color-primary);
  border: none;
}

@media (--viewport-tablet) {
  /* Push the anchor to the left on wider screens */
  .header-anchor {
    position: absolute;
    left: -1.5ch;
    top: 50%;
    transform: translateY(-50%);
  }
}

/********************************/
/*         Link styling         */
/********************************/

a {
  color: var(--color-secondary);
  text-decoration: none;
  border-bottom: var(--width-hair) solid var(--color-secondary);
}

a:hover {
  text-decoration: none;
}

/********************************/
/*       Vertical margins       */
/********************************/

h1 {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}

h2 {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}

h3 {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}

h4 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

h5 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

h6 {
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
}

figure {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}

pre,
iframe {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}

table {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}

p,
figcaption {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}

table caption {
  margin-top: var(--space-3);
  margin-bottom: 0;
}

ul,
ol,
dl {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}

ul > li,
ol > li {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

hr {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}

/********************************/
/*       Horizontal rule        */
/********************************/

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/********************************/
/*      Definition list         */
/********************************/

dl dt {
  font-weight: var(--font-weight-body-bold);
}

dl dd {
  margin-left: var(--space-4);
}

/********************************/
/*         Block quotes         */
/********************************/

figure.c-blockquote {
  border-left: 4px solid var(--color-neutral-400);
  padding-left: var(--space-4);
  font-style: italic;
}

figure.c-blockquote blockquote {
  margin-left: 0;
}

figure.c-blockquote figcaption {
  font-size: var(--font-size-1);
}

blockquote p {
  color: var(--color-neutral-600);
  font-size: var(--font-size-2);
}

/********************************/
/*             Byline           */
/********************************/

.byline {
  display: flex;
  /* Allow byline to wrap if content is too long for a single line */
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  color: var(--color-black);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-heading-regular);
  text-transform: uppercase;
  line-height: 1;
}

.byline {
  color: var(--color-neutral-500);
}

.byline > * {
  display: block;
}

.byline address {
  font-style: normal;
}

.byline address {
  padding-right: var(--space-3);
  margin-right: var(--space-3);
  position: relative;
}

.byline address::after {
  content: "|";
  position: absolute;
  top: 0;
  right: -2px;
  color: var(--color-neutral-400);
}

.byline a {
  border-bottom: none;
}

/********************************/
/*              Table           */
/********************************/

/* From https://codepen.io/geoffyuen/pen/FCBEg */

table {
  background: var(--color-neutral-200);
  color: var(--color-black);
  border-radius: var(--radius-2);
  border-collapse: collapse;
  overflow: hidden;
  font-size: var(--font-size-1);
}

table thead tr {
  border-bottom: var(--width-hair) solid var(--color-neutral-50);
}

table tbody tr + tr {
  border-top: var(--width-hair) solid var(--color-neutral-50);
}

table th,
table td {
  text-align: left;
}

table th {
  color: var(--color-primary);
  text-transform: uppercase;
}

table th,
table td {
  padding: var(--space-2) var(--space-4);
  display: table-cell;
}

table td:before {
  display: none;
}

/********************************/
/*       Figure captions        */
/********************************/

.article-image figcaption,
table caption {
  color: var(--color-neutral-600);
  font-size: var(--font-size-1);
  font-style: italic;
  text-align: center;
  caption-side: bottom;
}

/********************************/
/*             Code             */
/********************************/

/* Overrides for prismjs in code blocks */
pre[class*="language-"] {
  font-size: var(--font-size-1);
  background-color: var(--color-neutral-100);
}

/* Inline code */
:not(pre) > code,
:not(pre) > code[class*="language-"] {
  padding: 0.05em 0.25em;
  border-radius: var(--radius-1);
  background-color: var(--color-neutral-200);
}

/********************************/
/*            iframe            */
/********************************/

iframe {
  border: 0;
}

/********************************/
/*         Site header          */
/********************************/

#site-header {
  background-color: var(--color-black);
}

#site-header .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-4) var(--space-4) 0;
  max-width: var(--width-main);
  margin-left: auto;
  margin-right: auto;
}

/* Control vertical margins manually */
#site-header h2,
#site-header nav {
  margin-top: 0;
  margin-bottom: 0;
}

#site-header h2 {
  width: 267px;
  height: 92px;
  flex-shrink: 0;
  overflow: hidden;
  color: transparent;
  background-image: url(/images/logo-v1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (--viewport-tablet) {
  #site-header .content-wrap {
    flex-direction: row;
    align-items: flex-end;
    padding: var(--space-5);
  }
}

/********************************/
/*       Site navigation        */
/********************************/

#site-header nav {
  text-transform: uppercase;
  line-height: 1;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-regular);
  font-size: var(--font-size-2);
  border-top: var(--width-hair) solid var(--color-primary);
  margin-top: var(--space-4);
  width: 100%;
}

/* Control vertical margins manually */
#site-header nav ul,
#site-header nav li {
  margin-top: 0;
  margin-bottom: 0;
}

#site-header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

#site-header nav a {
  display: block;
  color: var(--color-white);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: var(--space-2) var(--space-4);
}

body.index #site-header nav a.home-link,
body.blog #site-header nav a.blog-link {
  border-top-color: var(--color-primary);
}

@media (--viewport-tablet) {
  #site-header nav {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 0;
    border-top: none;
    border-bottom: var(--width-hair) solid var(--color-primary);
  }

  #site-header nav ul {
    justify-content: flex-end;
  }

  body.index #site-header nav a.home-link,
  body.blog #site-header nav a.blog-link {
    border-top-color: transparent;
    border-bottom-color: var(--color-primary);
  }
}

/********************************/
/*          Site footer         */
/********************************/

#site-footer {
  background-color: var(--color-black);
}

#site-footer .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-6) var(--space-4);
  max-width: var(--width-main);
  margin-left: auto;
  margin-right: auto;
}

#site-footer .content-wrap :first-child {
  margin-top: 0;
}

#site-footer .content-wrap :last-child {
  margin-bottom: 0;
}

#site-footer p {
  color: var(--color-neutral-600);
  font-size: var(--font-size-1);
  font-style: italic;
  padding-top: calc(69px + var(--space-2));
  position: relative;
}

#site-footer p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 69px;
  background-image: url(/images/logo-v1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#site-footer p a {
  color: var(--color-white);
  border-bottom: none;
  font-size: var(--font-size-1);
  color: var(--color-neutral-600);
}

#site-footer ul {
  list-style-type: none;
  padding: 0;
  line-height: 1;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-heading-regular);
  font-size: var(--font-size-2);
}

#site-footer li a {
  color: var(--color-white);
  border-bottom: none;
}

@media (--viewport-tablet) {
  #site-footer .content-wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-6);
  }

  /* Control vertical margins manually */
  #site-footer .content-wrap > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/********************************/
/*        Cookie banner         */
/********************************/

#cookie-banner {
  display: none;
  z-index: 2;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--space-4);
  font-size: var(--font-size-1);
  color: var(--color-white);
  background-image: linear-gradient(
    var(--color-neutral-850) 0%,
    var(--color-black) 100%
  );
}

.show-cookie-banner #cookie-banner {
  display: flex;
}

#cookie-banner :first-child {
  margin-top: 0;
}

#cookie-banner button {
  color: var(--color-white);
  background-color: var(--color-secondary);
  line-height: 1;
  border: none;
  border-radius: var(--radius-1);
  padding: var(--space-3);
  flex-shrink: 0;
  cursor: pointer;
}

#cookie-banner button:hover {
  background-color: var(--color-secondary-500);
}

@media (--viewport-wide-phone) {
  #cookie-banner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /* Control vertical margins manually */
  #cookie-banner > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  #cookie-banner button {
    padding: var(--space-3) var(--space-4);
    margin-left: var(--space-4);
  }
}

@media (--viewport-tablet) {
  #cookie-banner {
    font-size: var(--font-size-2);
    padding: var(--space-3) var(--space-5);
  }
}

/********************************/
/*             Main             */
/********************************/

body {
  min-height: 100vh;
}

body > main {
  background-color: var(--color-primary-neutral-200);
}

body > main > header :first-child {
  margin-top: 0;
}

body > main ul {
  padding-left: 2em;
  list-style: none;
}

body > main ul li::before {
  content: "\25CF";
  color: var(--color-neutral-800);
  font-weight: bold;
  display: inline-block;
  width: 1.25em;
  margin-left: -1.25em;
}

body > main ol {
  list-style: none;
  counter-reset: ol-counter;
  padding-left: 0.5em;
}

body > main ol li {
  counter-increment: ol-counter;
}

body > main ol li::before {
  content: counter(ol-counter) ". ";
  color: var(--color-neutral-700);
  font-weight: bold;
  margin-right: 0.5em;
}

@media (--viewport-wide-phone) {
  body > main ol {
    padding-left: 1.5em;
  }
}

/********************************/
/*            Article           */
/********************************/

main > article {
  background-color: var(--color-white);
}

main > article > header .byline {
  font-size: var(--font-size-2);
}

main > article > .article-body {
  padding: var(--space-6) var(--space-4);
}

/* Includes an override for prismjs */
main > article > .article-body > *,
main > article > .article-body > pre[class*="language-"] {
  max-width: var(--width-article-body);
  margin-left: auto;
  margin-right: auto;
}

main > article > .article-body > pre[class*="language-"] {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}

/* Remove vertical margins around the article body */
main > article > .article-body > :first-child {
  margin-top: 0;
}

main > article > .article-body > :last-child {
  margin-bottom: 0;
}

@media (--viewport-tablet) {
  main > article > .article-body {
    padding: var(--space-6) var(--space-5) var(--space-7);
  }
}

/********************************/
/*         Hero image           */
/********************************/

figure.hero figcaption {
  margin-top: 0;
  margin-bottom: 0;
}

figure.hero {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

/* gradient overlay on the hero image */
figure.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    var(--color-white) 0%,
    var(--color-black) 100%
  );
}

figure.hero .hero-img-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

figure.hero img {
  width: 100%;
  filter: grayscale(100%);
  mix-blend-mode: multiply;
}

figure.hero figcaption {
  position: absolute;
  top: 0;
  right: 5px;
  opacity: 0.66;
  z-index: 1;
}

figure.hero figcaption:hover {
  opacity: 1;
}

figure.hero figcaption a {
  border-bottom: none;
}

@media (--viewport-tablet) {
  figure.hero .hero-img-wrap {
    padding-bottom: 50%;
  }
}

@media (min-width: 1400px) {
  figure.hero .hero-img-wrap {
    padding-bottom: 33.33%;
  }
}

#blog-posts-listing figure.hero .hero-img-wrap {
  padding-bottom: 50%;
}

#blog-posts-listing figure.hero:before {
  content: none;
}

/********************************/
/*          Basic hero          */
/********************************/

header.basic-hero,
header.hero {
  position: relative;
}

/* Control vertical margins manually */
header.basic-hero h1,
header.hero h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header.basic-hero .hero-text-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: var(--space-5) var(--space-4) var(--space-2);
}

header.basic-hero .hero-text-wrap > *,
header.hero .hero-text-wrap > * {
  max-width: var(--width-article-body);
  margin-left: auto;
  margin-right: auto;
}

header.basic-hero .hero-text-wrap > * + *,
header.hero .hero-text-wrap > * + * {
  margin-top: var(--space-3);
}

header.basic-hero h1,
header.basic-hero p,
header.hero h1,
header.hero p {
  width: 100%;
}

header.basic-hero h1 {
  color: var(--color-primary);
}

@media (--viewport-tablet) {
  header.basic-hero .hero-text-wrap {
    padding: var(--space-6) var(--space-5) var(--space-2);
  }

  header.basic-hero .hero-text-wrap > * + * {
    margin-top: var(--space-4);
  }

  header.basic-hero h1,
  header.hero h1 {
    font-size: var(--font-size-7);
  }
}

@media (--viewport-desktop) {
  header.basic-hero .hero-text-wrap {
    padding: var(--space-7) 0 var(--space-4);
  }

  header.basic-hero h1,
  header.hero h1 {
    font-size: var(--font-size-8);
  }
}

/********************************/
/*         Hero header          */
/********************************/

header.hero .hero-text-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 var(--space-4) var(--space-5);
}

header.hero h1 {
  color: var(--color-white);
}

@media (--viewport-tablet) {
  header.hero .hero-text-wrap {
    padding: 0 var(--space-5) var(--space-5);
  }

  header.hero .hero-text-wrap > * + * {
    margin-top: var(--space-4);
  }
}

@media (--viewport-desktop) {
  header.hero .hero-text-wrap {
    padding: 0 0 var(--space-6);
  }
}

/********************************/
/*    Home page hero header     */
/********************************/

body.index header.hero h1 strong {
  color: var(--color-primary-500);
}

/********************************/
/*       Services section       */
/********************************/

#services-section {
  background-image: linear-gradient(
    to right,
    var(--color-primary-500) 0%,
    var(--color-primary-300) 50%,
    var(--color-primary-500) 100%
  );
  padding: var(--space-4);
}

/* Control vertical margins manually */
#services-section p,
#services-section ul,
#services-section li {
  margin-top: 0;
  margin-bottom: 0;
}

#services-section ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
  padding: 0;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#services-section li {
  display: flex;
  padding: var(--space-5) var(--space-4);
  justify-content: space-around;
  align-items: center;
  border-radius: var(--radius-2);
  background-color: var(--color-black);
  background-image: linear-gradient(
    var(--color-neutral-850) 0%,
    var(--color-black) 100%
  );
}

#services-section li:before {
  content: none;
}

#services-section li img {
  flex-shrink: 0;
  display: block;
  width: 80px;
}

#services-section p {
  font-size: var(--font-size-2);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-regular);
  font-style: italic;
  color: var(--color-white);
  width: 50%;
}

#services-section h3 strong {
  font-weight: var(--font-weight-body-bold);
}

@media (--viewport-tablet) {
  #services-section {
    padding: var(--space-5);
  }

  #services-section ul {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-5);
  }

  #services-section p {
    font-size: var(--font-size-4);
  }
}

@media (--viewport-desktop) {
  #services-section {
    padding: var(--space-6);
  }

  #services-section ul {
    gap: var(--space-6);
  }

  #services-section p {
    font-size: var(--font-size-5);
  }
}

/********************************/
/*         CTA section          */
/********************************/

#cta-section {
  color: var(--color-white);
  background-color: var(--color-black);
  padding: var(--space-5) var(--space-4);
}

/* Control vertical margins manually */
#cta-section > * {
  margin-top: 0;
  margin-bottom: 0;
}

#cta-section > * + * {
  margin-top: var(--space-4);
}

#cta-section a {
  display: block;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-radius: var(--radius-1);
  font-size: var(--font-size-4);
  text-align: center;
  padding: var(--space-2) var(--space-5);
  flex-shrink: 0;
  border-bottom: none;
}

#cta-section a:hover {
  border-bottom: none;
  background-image: linear-gradient(
    to right,
    var(--color-secondary) 0%,
    var(--color-secondary-500) 50%,
    var(--color-secondary) 100%
  );
}

@media (--viewport-tablet) {
  #cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-5);
  }

  #cta-section > * + * {
    margin-top: 0;
    margin-left: var(--space-5);
  }

  #cta-section p {
    max-width: 20em;
    font-size: var(--font-size-3);
  }
}

/********************************/
/*       Blog posts listing     */
/********************************/

#blog-posts-listing {
  background-color: var(--color-white);
  padding: var(--space-5) var(--space-3) var(--space-6);
}

/* Control vertical margins manually */
#blog-posts-listing > *,
#blog-posts-listing li > *,
#blog-posts-listing header > * {
  margin: 0;
}

#blog-posts-listing li > * + *,
#blog-posts-listing header > * + * {
  margin-top: var(--space-3);
}

#blog-posts-listing header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--space-6);
}

#blog-posts-listing h1:before,
#blog-posts-listing h2:before {
  content: "";
  display: block;
  background-image: url(/images/blog-illustration-v1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 186px;
  height: 227px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--space-2);
}

#blog-posts-listing h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-heading-bold);
  font-style: italic;
  line-height: 1.2;
}

#blog-posts-listing ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-6);
  padding: 0;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

#blog-posts-listing li:before {
  content: none;
}

#blog-posts-listing li {
  border-top: var(--width-hair) solid var(--color-neutral-300);
  padding-top: var(--space-3);
}

#blog-posts-listing h3 a {
  color: var(--color-primary);
  border: none;
}

#blog-posts-listing li > a {
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-radius: var(--radius-1);
  font-size: var(--font-size-2);
  text-align: center;
  padding: var(--space-1) var(--space-4);
  flex-shrink: 0;
  border-bottom: none;
}

#blog-posts-listing li > a:hover {
  border-bottom: none;
  background-image: linear-gradient(
    to right,
    var(--color-secondary) 0%,
    var(--color-secondary-500) 50%,
    var(--color-secondary) 100%
  );
}

@media (--viewport-wide-phone) {
  #blog-posts-listing {
    padding: var(--space-5) var(--space-5) var(--space-6);
  }

  #blog-posts-listing ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (--viewport-desktop) {
  #blog-posts-listing {
    padding: var(--space-6) var(--space-6) var(--space-7);
  }

  #blog-posts-listing ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/********************************/
/*           NES posts          */
/********************************/

.opcode-detail {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
  background: var(--color-neutral-200);
  color: var(--color-black);
  border-radius: var(--radius-2);
  border-collapse: collapse;
  overflow: hidden;
  font-size: var(--font-size-1);
}

.opcode-detail h5 {
  color: var(--color-primary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-white);
}

.opcode-detail h6 {
  border-top: 1px solid var(--color-white);
  padding-bottom: 0;
  color: var(--color-neutral-700);
}

.opcode-detail h6 + p,
.opcode-detail h6 + table {
  padding-top: var(--space-2);
}

.opcode-detail > * {
  padding: var(--space-4);
  margin: 0;
}

.opcode-detail :not(pre) > code,
.opcode-detail :not(pre) > code[class*="language-"] {
  padding: 0;
  background-color: transparent;
}

.opcode-detail table {
  display: block;
}

.opcode-detail table thead {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.opcode-detail table thead tr {
  border-bottom: none;
}

.opcode-detail table tbody tr + tr {
  border-top: none;
}

.opcode-detail table td {
  padding: 2px var(--space-4);
  vertical-align: top;
}

.opcode-detail table td:first-of-type {
  padding-left: 0;
}

.opcode-detail table td:last-of-type {
  padding-right: 0;
}

/********************************/
/*           Comments           */
/********************************/

.comments-info {
  font-size: 0.75rem;
  color: var(--color-neutral-600);
  margin-left: calc(60px + 1em);
}

/********************************/
